@charset "utf-8";

input, textarea {
	background-color: #ECA43C;
	color: #FFFFFF;
	border-color: #C78A32;
	border-style: solid;
	padding: 5px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 3px;
	margin-bottom: 10px;
	width: 50%;
	display: block;
	border-width: 4px;
}

textarea {
	border-color:#C78A32;
	height: 100px;
	margin-left: 25%;
	margin-right: 25%;
}

input:focus, textarea:focus{
	color: #000000;
	outline: none;
	background-color: #FFD87F;
}

input[type=number] {
	background-color: #DD7272;
	border-color: #aA5C5C;
}

label {
	border-radius: 8px 8px 0px 0px;
	color: #FFFFFF;
	background-color: #C78A32;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	margin-left: 25%;
	margin-right: 25%;
	display: inline;
}

select {
	background-color: #C78A32;
	color: #FFFFFF;
}

.Check{
	color: #FFFFFF;
	background-color: #ECA43C;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	border-style: solid;
	border-color: #C78A32;
	border-width: 4px;
	width: 47%;
}

.Centered {
	margin-left: 50%;
	margin-right: 50%;
}

#Submit {
	border-radius: 5px 5px 5px 5px;
	border-top: 0px;
	border-left: 0px;
	display: block;
	margin: 5px auto;
	width: 100px;
}