@charset "utf-8";

body {
	background-color: #FFD87F;
	font-family: Arial, Tahoma, sans-serif;
	color: #000000;
	margin: 0px;
}

h1 {
	color: #FFFFFF;
}

p {
	text-indent: 40px;
}

Header {
	background-color: #ECA43C;
	color: #FFFFFF;
	text-align: center;
	padding: 5px;
	width: 100%;
	margin-left: 0%;
}

main {
	border-radius: 25px 25px 25px 25px;
	width: 70%;
	background-color: #FDEBD0;
	float:center;
	margin: 0% 0% 0% 10%;
	padding: 2% 5% 1% 5%;
}

footer {
	clear:both;
	background-color: #ECA43C;
	color: #FFFFFF;
	text-align: center;
	margin-left: 12%;
	height: 8px;
	font-size: 12pt;
	width: 76%;
}

/* NAVIGATION BAR */

nav {
	color: #000000;
	background-color: #ECA43C;
	padding: 0px;
	font-weight: bold;
	margin-left: 12%;
	height: 8px;
	font-size: 12pt;
	width: 76%;
}

nav ul {
	list-style: none;
}

nav ul li {
	float: left;
	padding-top: 7px;
}

nav ul li a:link, nav ul li a:visited {
	border-radius: 0px 0px 15px 15px;
	display: block;
	width: 90px;
	margin-right: 10px;
	color: #FFFFFF;
	padding: 4px 4px 4px 4px;
	text-align: center;
	background-color: #ECA43C;
	text-decoration: none;
}

nav ul li a:hover, #currentPage{ /* NAVIGATION CHANGE 1, added #currentPage so that the current pages tab remains rounder, taller, and darker. */
	border-radius: 0px 0px 25px 25px;
	color: #FFFFFF;
	background-color: #9B30FF;
}

/* TABLES */
table {
	margin: 0 auto;
	width: 80%;
	background-color: #FDEBD0;
	border: hidden;
}

th {
	background-color: #ECA43C;
	color: #FFFFFF;
	padding: 0px 30px 0px 30px;
}

td {
	padding: 10px 30px 10px 30px;
}

/* OTHER */
ol li p {
	text-indent: 0px; /* CHANGE 2 Removed the indent from the ol li p because I did not like it having an indent there. */
}

/* IDS and Classes */

#rightAligned {
	text-align: right;
}

.centerAligned {
	text-align: center;
}

#container {
	width: 100%;
}

#currentPage {
	background-color: #C27F1C;
	color: #C2DFFF;
	height: 25px;
}	